<div class="container">
  <div class="card">
    <img
      src="../assets/hola.jpg"
      class="card-img-top"
      alt="HOLA!"
      style="width: 300px"
    />
    <div class="card-body">
      <h5 class="card-title">Milagros Luna</h5>
      <p class="card-text">
        ¡Hola! este proyecto fue creado para la materia Laboratorio 4 en la
        Universidad Tecnológica Nacional. El objetivo principal es proporcionar
        una aplicación web interactiva y fácil de usar. Esta hecho con Angular
        versión 16.2.0, un marco de trabajo moderno y potente para desarrollar
        aplicaciones web de una sola página. Utilizo varias bibliotecas para
        mejorar mi funcionalidad y experiencia de usuario: como Bootstrap,
        Google reCAPTCHA, pdfmake, xlsx, y muchas mas. Esta hosteado con
        Firebase, la misma se utiliza para almacenar la informacion de la
        clinica. Con este trabajo quiero demostrar una arquitectura de software
        eficiente y efectiva. Para lograr esto, me he centrado en la separación
        de componentes para promover la reutilización y la claridad del código.
        ¡Espero que disfrutes usando mi aplicación!
      </p>
      <a
        target="_blank"
        href="https://github.com/MilagrosLuna"
        class="btn btn-primary"
        >Ver más proyectos</a
      >
    </div>
    <div class="card-footer text-muted">
      <p>Edad: 19 Años</p>
      Buenos Aires, Argentina
    </div>
  </div>
</div>
