<div class="container mt-3">
  <h4 class="mb-3">Datos del turno</h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row g-3">
      <div class="col-sm-6">
        <select
          class="form-select"
          id="especialidad"
          formControlName="especialidad"
          (ngModelChange)="onEspecialidadChange($event)"
        >
          <option value="" disabled selected>
            Seleccione una especialidad
          </option>
          <option
            *ngFor="let especialidad of especialidades"
            [value]="especialidad.uid"
          >
            {{ especialidad.nombre }}
          </option>
        </select>
        <div *ngIf="form.controls['especialidad'].errors != null">
          <small
            class="invalid"
            *ngIf="
              form.controls['especialidad'].errors!['required'] &&
              form.controls['especialidad'].touched
            "
          >
            Debe seleccionar una especialidad.
          </small>
        </div>
      </div>

      <div *ngIf="especialidadSeleccionada">
        <div class="col-sm-6">
          <label for="especialista" class="form-label">Especialista:</label>
          <select
            class="form-select"
            id="especialista"
            formControlName="especialista"
            (ngModelChange)="onEspecialistaChange($event)"
          >
            <option value="" disabled selected>
              Seleccione un especialista
            </option>
            <option
              *ngFor="let especialista of especialistasFiltrados"
              [value]="especialista.uid"
            >
              {{ especialista.nombre }}
            </option>
          </select>
          <div *ngIf="form.controls['especialista'].errors != null">
            <small
              class="invalid"
              *ngIf="
                form.controls['especialista'].errors!['required'] &&
                form.controls['especialista'].touched
              "
            >
              Debe seleccionar un especialista.
            </small>
          </div>
        </div>
        <div *ngIf="especialista">
          <div class="col-sm-6">
            <app-listado-dias-turno
              [especialista]="especialista"
              (turnoSeleccionado)="onTurnoSeleccionado($event)"
            ></app-listado-dias-turno>
          </div>
          <div *ngIf="fechaObtenida">
            <div *ngIf="esAdmin">
              <div class="col-sm-6">
                <label for="paciente" class="form-label">Paciente:</label>
                <select
                  class="form-select"
                  id="paciente"
                  formControlName="paciente"
                  (ngModelChange)="onEspecialistaChange($event)"
                >
                  <option value="" disabled selected>
                    Seleccione un paciente
                  </option>
                  <option
                    *ngFor="let paciente of pacientes"
                    [value]="paciente.uid"
                  >
                    {{ paciente.nombre }} {{ paciente.apellido }}
                  </option> 
                </select>
                <div *ngIf="form.controls['paciente'].errors != null">
                  <small
                    class="invalid"
                    *ngIf="
                      form.controls['paciente'].errors!['required'] &&
                      form.controls['paciente'].touched
                    "
                  >
                    Debe seleccionar un paciente.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <button class="w-100 btn btn-primary btn-lg" type="submit">
      Solicitar turno
    </button>
  </form>
</div>
