<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: #e3f2fd"
>
  <div class="m-1">
    <img
      class="navbar-brand"
      src="../assets/logoClinica.png"
      alt=""
      width="90"
      height="50"
    />
  </div>

  <button
    *ngIf="esPaciente"
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTextPaciente"
    aria-controls="navbarTextPaciente"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    *ngIf="esPaciente"
    class="collapse navbar-collapse"
    id="navbarTextPaciente"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/presentacion">Home (actual)</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/turnos/options">Mis turnos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/turnos/solicitar-turno"
          >Solicitar Turno</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/perfil">Mi perfil</a>
      </li>
    </ul>
  </div>

  <button
    *ngIf="!esPaciente"
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTextNoPaciente"
    aria-controls="navbarTextNoPaciente"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    *ngIf="!esPaciente"
    class="collapse navbar-collapse"
    id="navbarTextNoPaciente"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/presentacion">Home (actual)</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/turnos/options">Mis turnos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/perfil">Mi perfil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/pacientes">Pacientes</a>
      </li>
    </ul>
  </div>

  <div class="m-1">
    <a id="userProfile" class="navbar-brand" *ngIf="loggedUser | async as user">
      <img
        *ngIf="user.photoURL"
        [src]="user.photoURL"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      {{ user.email }}
    </a>
    <button
      class="btn btn-sm btn-outline-secondary"
      type="button"
      (click)="logOut()"
    >
      cerrar sesión
    </button>
  </div>
</nav>
