<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: #e3f2fd"
>
  <div class="m-1">
    <img
      class="navbar-brand"
      src="../assets/logoClinica.png"
      alt=""
      width="90"
      height="50"
    />
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
      </li>
    </ul>
  </div>
</nav>

<main [@slideInAnimation2]  class="contenedor">
  <div class="registro-buttons"  appMiDirectivaColor="orange">
    <button
      class="btn btn-primary rounded-0 "
      (click)="mostrarRegistroPaciente()"
      [class.active]="mostrarRegistroPacientes"
    >
      <img src="../assets/paciente.jpg" alt="" width="150" height="130"  />
    </button>
    <button
      class="btn btn-primary rounded-0 "
      (click)="mostrarRegistroEspecialista()"
      [class.active]="mostrarRegistroEspecialistas"
    >
      <img src="../assets/medico.jpg" alt="" width="150" height="130" />
    </button>
  </div>

  <div class="registro-form">
    <div *ngIf="mostrarRegistroPacientes">
      <app-register-paciente></app-register-paciente>
    </div>

    <div *ngIf="mostrarRegistroEspecialistas">
      <app-register-especialista></app-register-especialista>
    </div>
  </div>
</main>
