.fab-container {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  z-index: 10;
  flex-direction: column-reverse;
}
.container {
  min-height: 100vh;
}

.fab {
  width: 70px;
  height: 70px;
  background-color: rgba(13, 109, 253, 0);
  border-radius: 50%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fab-content {
  color: white;
  font-size: 48px;
}

.button-style {
  background-size: 100% 100%;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.texto {
  position: absolute;
  width: 100px;
  color: white;
  background-color: rgb(20, 20, 20);
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  top: 80px;
  left: -15px;
}
