<main class="contenedor">
      <div *ngIf="loadingImages" class="text-center">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        <p>Cargando usuarios...</p>
      </div>

      <div *ngIf="!loadingImages" class="row form">

        <div class="col-md-2">
          <div class="card rounded-0 mt-3" style="width: 8rem">
            <img
              [src]="fotoAdmin"
              class="card-img-top rounded-0"
              alt="Imagen seleccionada"
              style="width: auto; height: 100px"
            />
            <div class="card-body">
              <h5 class="card-title">Admin</h5>
              <button
                class="btn btn-primary"
                type="button"
                (click)="accesoRapido(1)"
              >
                Acceder
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card rounded-0 mt-3" style="width: 8rem">
            <img
              [src]="foto1"
              class="card-img-top"
              alt="Imagen seleccionada"
              style="width: auto; height: 100px"
            />
            <div class="card-body">
              <h5 class="card-title">paciente 1</h5>
              <button
                class="btn btn-primary"
                type="button"
                (click)="accesoRapido(2)"
              >
                Acceder
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card rounded-0 mt-3" style="width: 8rem">
            <img
              [src]="foto2"
              class="card-img-top"
              alt="Imagen seleccionada"
              style="width: auto; height: 100px"
            />
            <div class="card-body">
              <h5 class="card-title">paciente 2</h5>
              <button
                class="btn btn-primary"
                type="button"
                (click)="accesoRapido(3)"
              >
                Acceder
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card rounded-0 mt-3" style="width: 8rem">
            <img
              [src]="foto3"
              class="card-img-top"
              alt="Imagen seleccionada"
              style="width: auto; height: 100px"
            />
            <div class="card-body">
              <h5 class="card-title">paciente 3</h5>
              <button
                class="btn btn-primary"
                type="button"
                (click)="accesoRapido(4)"
              >
                Acceder
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card rounded-0 mt-3" style="width: 8rem">
            <img
              [src]="fotoE1"
              class="card-img-top rounded-0"
              alt="Imagen seleccionada"
              style="width: auto; height: 100px"
            />
            <div class="card-body">
              <h5 class="card-title">Espec. 1</h5>
              <button
                class="btn btn-primary"
                type="button"
                (click)="accesoRapido(5)"
              >
                Acceder
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card rounded-0 mt-3" style="width: 8rem">
            <img
              [src]="fotoE2"
              class="card-img-top rounded-0"
              alt="Imagen seleccionada"
              style="width: auto; height: 100px"
            />
            <div class="card-body">
              <h5 class="card-title">Espec. 2</h5>
              <button
                class="btn btn-primary"
                type="button"
                (click)="accesoRapido(6)"
              >
                Acceder
              </button>
            </div>
          </div>
        </div>
      </div>

  <div class="row mt-3">
    <div class="">
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-signin">
        <img
          class="mb-4"
          src="../assets/logoClinica.png"
          alt=""
          width="160"
          height="64"
        />
        <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            formControlName="email"
          />
          <label for="floatingInput">Email</label>
          <div *ngIf="form.controls['email'].errors != null">
            <small
              class="invalid"
              *ngIf="
                form.controls['email'].errors!['required'] &&
                form.controls['email'].touched
              "
              >Debe ingresar su mail..</small
            >
            <small
              class="invalid"
              *ngIf="
                form.controls['email'].errors!['email'] &&
                form.controls['email'].touched
              "
              >Ingrese un email valido</small
            >
          </div>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
          />
          <label for="floatingPassword">Contraseña</label>
          <div *ngIf="form.controls['password'].errors != null">
            <small
              class="invalid"
              *ngIf="
                form.controls['password'].errors!['required'] &&
                form.controls['password'].touched
              "
              >Debe ingresar su contraseña..</small
            >
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</main>
