<app-go-home></app-go-home>
<main class="contenedor">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando Usuarios...</p>
  </ngx-spinner>

  <div>
    <div class="row">
      <div class="col-md-4" *ngFor="let paciente of pacientes">
        <app-access-button
          [email]="paciente.email"
          [tipo]="paciente.tipo"
          (buttonClick)="onButtonClick($event)"
        ></app-access-button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let especialista of especialistas">
        <app-access-button
          [email]="especialista.email"
          [tipo]="especialista.tipo"
          (buttonClick)="onButtonClick($event)"
        ></app-access-button>
      </div>
      <div class="col-md-4" *ngFor="let admin of admins">
        <app-access-button
          [email]="admin.email"
          [tipo]="admin.tipo"
          (buttonClick)="onButtonClick($event)"
        ></app-access-button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="">
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-signin">
        <img
          class="mb-4"
          src="../assets/logoClinica.png"
          alt=""
          width="160"
          height="64"
        />
        <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            formControlName="email"
          />
          <label for="floatingInput">Email</label>
          <div *ngIf="form.controls['email'].errors != null">
            <small
              class="invalid"
              *ngIf="
                form.controls['email'].errors!['required'] &&
                form.controls['email'].touched
              "
              >Debe ingresar su mail..</small
            >
            <small
              class="invalid"
              *ngIf="
                form.controls['email'].errors!['email'] &&
                form.controls['email'].touched
              "
              >Ingrese un email valido</small
            >
          </div>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
          />
          <label for="floatingPassword">Contraseña</label>
          <div *ngIf="form.controls['password'].errors != null">
            <small
              class="invalid"
              *ngIf="
                form.controls['password'].errors!['required'] &&
                form.controls['password'].touched
              "
              >Debe ingresar su contraseña..</small
            >
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</main>
