<div class="container mt-3">
    <div class="mb-3">
      <label for="filtroEspecialidad" class="form-label"
        >Filtrar por especialidad:</label
      >
      <input #filtroEspecialidad type="text" class="form-control" id="filtroEspecialidad" (input)="filtrarTurnos()" />
    </div>
    <div class="mb-3">
      <label for="filtroEspecialista" class="form-label"
        >Filtrar por especialista:</label
      >
      <input #filtroEspecialista type="text" class="form-control" id="filtroEspecialista" (input)="filtrarTurnos()" />
    </div>
  
    <div style="height: 600px; overflow: auto">
      <div *ngFor="let turno of turnosFiltrados | async">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              {{ obtenerFechaHoraFormateada(turno.fecha, turno.hora) }}
            </h5>
            <p class="card-text">Especialista: {{ turno.Especialista }}</p>
            <p class="card-text">Especialidad: {{ turno.Especialidad }}</p>
            <p class="card-text">Estado: {{ turno.estado }}</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary me-2">Botón 1</button>
              <button class="btn btn-secondary me-2">Botón 2</button>
              <button class="btn btn-success">Botón 3</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  